body {
    background: #fff url(../images/hbar.gif) repeat-x;
    margin: 0px;
    font-family: arial, sans-serif;
}

#menuwrapper {
    min-width: 850px;
    position: absolute;
    top: 75px;
    left: 10px;
}

.clearit {
    clear: both;
    height: 0;
    line-height: 0.0;
    font-size: 0;
}

#p7menubar,
#p7menubar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

#p7menubar a {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-right: 3px solid #eee;
    font-size: .85em;
    color: #0000FF;
}

#p7menubar a.trigger {
    padding: 5px 16px 5px 10px;
    background-image: url(../images/p7PM_dark_south.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

#p7menubar a.atrigger {
    padding: 4px 16px 5px 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #fff;
    background-image: url(../images/p7PM_dark_south.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

#p7menubar li {
    float: left;
    width: 9em;
}

#p7menubar li ul,
#p7menubar ul li {
    width: 12em;
}

#p7menubar ul li a {
    color: #FFFFFF;
    border-right: 0;
    padding: 3px 12px 3px 16px;
}

#p7menubar li ul {
    position: absolute;
    z-index: 10;
    display: none;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

#p7menubar li:hover a,
#p7menubar a:focus,
#p7menubar a:active,
#p7menubar li.p7hvr a {
    color: #000000;
    background-color: #78dbed;
}

#p7menubar li:hover ul,
#p7menubar li.p7hvr ul {
    display: block;
}

#p7menubar li:hover ul a,
#p7menubar li.p7hvr ul a span {
    color: #000000;
    background-color: #f3f3f3;
}

#p7menubar li:hover ul .alink {
    background-color: #c4f6ff;
}

#p7menubar ul a:hover {
    background-color: #606060 !important;
    color: #FFFFFF !important;
}

#p7menubar li {
    width: auto;
}

#iem-main {
    min-width: 800px;
    /* border: #000 solid; */
}

#iem-mainwide {
    /*	width: 800px; */
    min-width: 800px;
    border: 1px #000 solid;
    background-color: #FEFEFE;
}

#iem-image {
    width: 100%;
}

#iem-header {
    background: #fff url(../images/hbar.gif) repeat-x;
    height: 100px;
    width: 100%;
}

#iem-header:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

/* Holly Hack Targets IE Win only \*/
* html #iem-header {
    height: 130px;
}

/* End Holly Hack */

#iem-header-title {
    position: absolute;
    top: 26px;
    left: 90px;
    width: 500px;
}

#iem-header-title h3 {
    margin: 0px;
    padding: 0px;
    color: #f6f623;
    font-size: 1em;
}

#iem-header-title h4 {
    margin: 0px;
    color: #f6f623;
    font-size: 1em;
}

#iem-header-logo {
    position: absolute;
    left: 5px;
    top: 5px;
    margin-right: 5px;
}

#iem-header-logo img {
    border: 0px;
    background-color: transparent;
}

#iem-header-items {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 250px;
    text-align: right;
    font-size: 0.8em;
}

#iem-header-items {
    color: #fff;
    font-weight: bold;
}

#iem-header-items a {
    color: #fff;
    font-weight: bold;
}

#iemwebring {
    font-size: 0.8em;
    padding: .1em 0;
    text-align: center;
    float: right;
    margin-top: 3px;
}

#iemwebring a {
    padding: 0 .2em 0 .4em;
    text-decoration: none;
    border: none;
}

#iemwebring li {
    list-style: none;
    display: inline;
}

.horiz-list li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

#iem-content {
    clear: left;
    background: #fff;
    padding: 5px;
}

#left {
    width: 570px;
}

#right {
    width: 330px;
    margin-left: 5px;
    border-left: 1px solid;
}

ul.iem-list {
    margin-left: 17px;
    margin-top: 3px;
    padding-left: 0px;
    padding-top: 0px;
}

#iem-section {
    padding: 0px;
    height: 40px;
}

#iem-section th {
    border-left: 1px solid;
    padding: 5px
}

#iem-section a:hover {
    border-bottom: 1px #000000 dashed;
}

#iem-content-feature {
    border: 1px #000 dashed;
    padding: 2px;
    width: 490px;
}

#iem-content-feature-img {
    float: right;
    border: 1px #000 solid;
    font-size: 0.8em;
}

#iem-content-feature-img img {
    padding: 2px;
    border: 0px;
}

.iem-news-descript {
    padding-left: 10px;
    font-size: smaller;
}

#iem-footer {
    clear: both;
    width: auto;
    font-size: 10pt;
    border-top: 1px #ccc solid;
    padding-left: 5px;
    padding-bottom: 2px;
}

#iem_header_logo img {
    border: 0px;
}

.dashboard {
    border: 2px solid #ddd;
    background: #eee;
}

.dashboard li {
    list-style: none;
    display: inline;
    float: left;
    margin-left: 20px;
}

.dashboard a {
    text-decoration: none;
}

.dashboard img {
    border: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.dashboard:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

.heading {
    border-bottom: 1px solid #CCCCCC;
    color: #336699;
    padding: 4px 0;
    margin: 4px 0;
}

thead th,
tfoot td {
    background: #ddd;
}

tr.ruled {
    background: #9cf;
}

table.ruler {
    border: 1px solid #000;
    border-collapse: collapse;
}

th.ruler,
td.ruler {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 2px;
}

.ninfo {
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #000;
    background-color: #EEEEEE;
}

#helpwindow {
    width: 400px;
    display: none;
    padding: 5px;
    border: 1px dashed;
    background-color: #eee;
}

a {
    color: #000099;
}

a:hover {
    color: #999999;
}

#iem-content a:hover {
    color: #000066;
}

.even {
    background-color: #CDDFF9;
}

.odd {
    background-color: #FFFFFF;
}

tr.ruled {
    background: #99CCFF;
}

.kcci {
    background: #99CCFF;
}

.kelo {
    background: #6699CC;
}

.kimt {
    background: #00efef;
}

.tabcommands {
    color: #003366;
}

thead th,
tfoot td {
    background: #6699CC;
}

#helpwindow {
    border-color: #003366;
}

div.iembox {
    background: #D4F4F9;
    border: #004662 1px solid;
}

/* Generic class for warning messages */
.warning {
    border: solid 1px #000;
    background: #FCF9CE url(../images/warning.png) 6px 4px no-repeat;
    color: #222222;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

/* http://pixify.com/blog/use-google-plus-to-improve-your-ui/ */
.buttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}

a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
    background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}

a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button:active {
    color: #000;
    border-color: #444;
}

a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.middle:hover,
a.right:hover {
    border-left: solid 1px #999
}

a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.big {
    font-size: 16px;
    padding: 10px 15px;
}

a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}

a.save {
    background: url(sprite.png) 10px 7px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.add {
    background: url(sprite.png) 10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.delete {
    background: url(sprite.png) 10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.flag {
    background: url(sprite.png) 10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.up {
    background: url(sprite.png) 10px -133px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.book {
    background: url(../images/book.png) no-repeat 5px 5px #f3f3f3;
    padding-left: 40px;
}

a.agweather {
    background: url(../images/tractor.png) no-repeat 5px 5px #f3f3f3;
    padding-left: 40px;
}

a.nws {
    background: url(../images/nws.png) no-repeat 5px 5px #f3f3f3;
    padding-left: 40px;
}

a.down {
    background: url(sprite.png) 10px -168px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.save-big {
    background: url(sprite.png) 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}

a.add-big {
    background: url(sprite.png) 15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}

a.delete-big {
    background: url(sprite.png) 15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}

a.flag-big {
    background: url(sprite.png) 15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}

a.up-big {
    background: url(sprite.png) 15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}

a.down-big {
    background: url(sprite.png) 15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}

.ui-datepicker {
    z-index: 10000 !important;
}