a {
	text-decoration: none;
	color: #000099;
}
a:hover {
	color: #999999;
	text-decoration: underline;
}
#iem-header {
	background-color: #336699;
}
#iem-header a {
	color: #FFFFFF;
}
#iem-header a:hover {
	color: #999999;
}
#iem-header-title h3 {
	color: #FFFFFF;
}
#iem-header-title h4 {
	color: #FFFFFF;
}
#iem-header-items {
	color: #FFFFFF;
}
#iem-header-items a:hover {
	color: #CCCCCC;
}
div.iem-menu{
	background-color: #666666;
}
#iem-content a:hover {
	color: #000066;
}
#iem-content li {
	color: #000000;
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-footer a:hover {
	color: #003366;
}
#iem-main {
	background-color: #FEFEFE;
}
.even {
	background-color: #99CCFF;
}
.odd {
	background-color: #FEFEFE;
}
.heading {
	border-color: #336699;
	background-color: #CCCCCC;
	color: #003366;
}
tr.ruled {
	background: #99CCFF;
}
.climo-header-left {
	background-color: #CCCCCC;
	color: #336699;
}
.climo-header-right {
	border-color: #336699;
	background-color: #CCCCCC;
	color: #336699;
}
.subtitle {
	color: #6699CC;
}
.snet-precip-table {
	background-color: #99CCFF;
	border-color: #99CCFF;
}
.kcci{
 background: #99CCFF;
}
.kelo{
 background: #6699CC;
}
.kimt{
 background: #00efef;
}
.tabcommands {
	color: #003366;
}
.iem-form {
	border-color: #003366;
}
#iem-form2 {
	border-color: #003366;
}
#iem-form2 th {
	background-color: #6699CC;
}
thead th,tfoot td{
        background:#6699CC;
}
#helpwindow {
	border-color: #003366;
}
div.iembox {
  background: #D4F4F9;
  border: #004662 1px solid;
}
div.iembox h4 {
  color: #241F51;
}

