body{
    background: #fff url(../images/hbar.gif) repeat-x;
	margin: 0px;
}
html, body, h2, h3, h4, div, p, ul, li, input {
        font-family: "Gill Sans MT", "Gill sans", "Trebuchet ms", sans-serif;
}
#iem-main {
	min-width: 800px; 
	/* border: #000 solid; */
}
#iem-mainwide {
/*	width: 800px; */
	min-width: 800px;
	border: 1px #000 solid;
	background-color: #FEFEFE;
}
#iem-image {
	width: 100%;
}
#iem-header {
  height: 130px;
  width: 100%;
}
#iem-header:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #iem-header {height: 130px;}
    /* End Holly Hack */

#iem-header-title{
  position: absolute;
  top: 26px;
  left: 90px;
  width: 500px;
}
#iem-header-title h3 {
	margin: 0px;
	padding: 0px;
    color: #f6f623;
    font-size: 1em;
}
#iem-header-title h4 {
	margin: 0px;
    color: #f6f623;
    font-size: 1em;
}
#iem-header-logo {
	position: absolute;
    left: 5px;
    top: 5px;
	margin-right: 5px;
}
#iem-header-logo img {
	border: 0px;
	background-color: transparent;
}
#iem-header-items {
	position: absolute;
	top: 30px;
	right: 10px;
    width: 250px;
	text-align: right;
	font-size: 0.8em;
}
#iem-header-items a{
    color: #fff;
	font-weight: bold;
}

#iemwebring {
  font-size: 0.8em;
  padding: .1em 0;
  text-align: center;
  float: right;
  margin-top: 3px;
}
#iemwebring a {
  padding: 0 .2em 0 .4em;
  text-decoration: none;
  border: none;
}
#iemwebring li {
  list-style: none;
  display: inline;
}


#iemmenu {
  font-size: 85%;
  position: absolute;
  top: 75px;
  left: 5px;
  width: 750px;
  padding: 0px;
  text-align: left;
  margin-top: 0px;
  clear: both;
}
#iemmenu li {
  list-style: none;
  display: inline;
}
#iemmenu a {
  padding: 0 .2em 0 .4em;
  border: none;
  text-decoration: none;
}

.horiz-list li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

#iem-content {
	clear: left;
	padding: 5px;
}
#left { 
	width:520px; 
}
#right { 
	width:330px; 
	margin-left:5px; 
	border-left: 1px solid;
}
#iem-content h3 {
	margin: 0px;
}
ul.iem-list {
	margin-left: 17px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 0px;
}
#iem-section {
	padding: 0px;
	height: 40px;
}
#iem-section th {
	border-left: 1px solid;
	padding: 5px
}
#iem-section a:hover {
	border-bottom: 1px #000000 dashed;
}
#iem-content-feature {
	border: 1px #000 dashed;
	padding: 2px;
	width: 490px;
}
#iem-content-feature-img {
	float: right;
	border: 1px #000 solid;
	font-size: 0.8em;
}
#iem-content-feature-img img {
	padding: 2px;
	border: 0px;
}
.iem-news-descript {
	padding-left: 10px;
	font-size: smaller;
}
#iem-radar table {
	width: 650px;
}
#iem-footer {
	clear: both;
	width: auto;
	font-size: 10pt;
	border-top: 1px #ccc solid;
	padding-left: 5px;
	padding-bottom: 2px;
}
#iem_nav {
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
        height: 24px;
    width: 100%;
    min-width: 800px;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    background-color: #f0f4f5;
        }
#iem_nav ul {
        margin: 0px 0px 0px 5px;
        padding: 0px;
        list-style-type: none;
        }
#iem_nav ul li {
        margin: 0;
        display: block;
        float: left;
        white-space: nowrap;
        padding: 4px 12px;
        background-image: none;
        }
#iem_nav ul li a, 
#iem_nav ul li a:visited  {
        margin: 0px 0px 0px 0px;
        color: #00f;
        text-decoration: none;
        }
#iem_nav ul li a:hover, 
#iem_nav ul li a:active  {
        text-decoration: underline;
        }
#iem_nav ul li.selected {
        background-color: white;
    border: 2px solid #ccc;
        border-bottom: 2px solid #fff;
        padding: 3px 12px;
        }
/* Subnav bar! */
#iem_subnav {
        height: 30px;
        display: block;
        float: left;
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0px;
        }
#iem_subnav ul {
        margin: -10px 0 0 2px;
        padding: 0;
        list-style-type: none;
        }
#iem_subnav ul li {
        float: left;
        margin: 7px 0 0 0;
        padding: 10px 2px 10px 0;
        color: #333;
        font-size: 0.9em;
        }
#iem_subnav ul li a, 
#iem_subnav ul li a:visited  {
        margin: 0 0 0 0;
        padding: 10px 11px 10px 11px;
        color: #333;
        font-size: 0.9em;
        text-decoration: none;
        }
#iem_subnav ul li a:hover, 
#iem_subnav ul li a:active  {
        text-decoration: underline;
        }
#iem_subnav ul li.selected {
        font-weight: bold;
        }
#iem_header_logo img {
  border: 0px;
}
table.footer {
	font-size: 10pt;
	width: 100%;
}

.title {
	font-size: 16pt;
	color: #FFFFFF;
}
.subtitle {
  font-size: 12pt;
  color: #FFFFFF;
  border-bottom: 1px solid #00f;
}
.heading { 
	font-size:120%;
	font-weight:bolder;
	border-top: 1px solid;
	border-right: 6px solid;
	padding: 1px;
	padding-left: 3px;
}
.climo-header-left { 
	font-size:120%;
	font-weight:bolder;
	padding: 1px;
	padding-left: 3px;
}
.climo-header-right { 
	font-size:120%;
	font-weight:bolder;
	border-right: 6px solid;
	padding: 1px;
	padding-left: 3px;
}
.text {
	font-size: 0.9em;
}
.even {   
	padding:2px;
}
.odd {   
	padding:2px;
}
thead th,tfoot td{
        background:#ddd;
}
tr.ruled{
        background:#9cf;
}
table.ruler{
        border:1px solid #000;
        border-collapse:collapse;
}
th.ruler,td.ruler{
        border:1px solid #000;
        border-collapse:collapse;
        padding: 2px;
}
.ninfo {
 	margin-left: 10px;
  	padding: 3px;
  	border: 1px solid #000;
  	background-color: #EEEEEE;
}
.kelo{
 background: #999999;
}
.tabcommands{
        font-size: 12pt; 
}
.snet-precip-table {
	padding: 3px;
}

#iem-warning-bar {
	width: 100%;
	float: left;
	text-align: center;
	border: 0px;
	margin: 0px;
}
#iem-warning-bar a {
  	background-color: #cc0000;
  	border-bottom: 1px solid #000000;
  	color: #CCCCCC;
}
#iem-warning-bar a:hover {
	color: #EEEEEE;
}
.iem-form {
	border: 1px dashed;
	background-color: #eee;
	margin: 15px;
	padding: 3px;
}
#iem-form2 {
	border: 1px dashed;
	background-color: #eee;
	margin: 15px;
	padding: 3px;
}
img.pics{
  text-align: center;
  width: 328px;
}
#helpwindow {
	width: 400px;
	display: none;
	padding: 5px;
	border: 1px dashed;
	background-color: #eee;
}
div.iembox {
  padding-left: 5px;
}
div.iembox h4 {
  margin: 2px;
}
a {
	color: #000099;
}
a:hover {
	color: #999999;
}
#iem-header-items {
	color: #FFFFFF;
}
#iem-header-items a:hover {
	color: #CCCCCC;
}
div.iem-menu{
	background-color: #666666;
}
#iem-content a:hover {
	color: #000066;
}
#iem-content li {
	color: #000000;
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-footer a:hover {
	color: #003366;
}
.even {
	background-color: #99CCFF;
}
.odd {
	background-color: #FEFEFE;
}
.heading {
	border-color: #336699;
	background-color: #CCCCCC;
	color: #003366;
}
tr.ruled {
	background: #99CCFF;
}
.climo-header-left {
	background-color: #CCCCCC;
	color: #336699;
}
.climo-header-right {
	border-color: #336699;
	background-color: #CCCCCC;
	color: #336699;
}
.subtitle {
	color: #6699CC;
}
.snet-precip-table {
	background-color: #99CCFF;
	border-color: #99CCFF;
}
.kcci{
 background: #99CCFF;
}
.kelo{
 background: #6699CC;
}
.kimt{
 background: #00efef;
}
.tabcommands {
	color: #003366;
}
.iem-form {
	border-color: #003366;
}
#iem-form2 {
	border-color: #003366;
}
#iem-form2 th {
	background-color: #6699CC;
}
thead th,tfoot td{
        background:#6699CC;
}
#helpwindow {
	border-color: #003366;
}
div.iembox {
  background: #D4F4F9;
  border: #004662 1px solid;
}
div.iembox h4 {
  color: #241F51;
}
