Body{
	/* font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif; */
	/* font-family: helvetica, verdana, sans-serif; */
    font-family: verdana, sans-serif;
	margin: 0px;
	/* background-color: #666666; */
}
#iem-main {
/*	width: 800px; */
	border: 1px #000 solid;
}
#iem-mainwide {
/*	width: 800px; */
	min-width: 800px;
	border: 1px #000 solid;
	background-color: #FEFEFE;
}
#iem-image {
	width: 100%;
}
#iem-header {
	border-bottom: 1px #000 solid;
    height: 45px;
}
#iem-header-title h3 {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#iem-header-title h4 {
	margin-top: 2px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#iem-header-logo img {
	float: left;
	border: 0px;
	margin-right: 5px;
    height: 65px;
	background-color: transparent;
}
#iem-header-items {
	position: absolute;
	top: 35px;
	right: 10px;
	text-align: right;
	font-size: 0.8em;
}
#iem-header-items-wide {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 150px; 
        text-align: right;
        font-size: 0.8em;
}

div.iem-menu{
	margin-top: 3px;
	padding: 1px;
	font-size: 10pt;
}

#iem-content {
	clear: left;
	padding: 5px;
}
#left { 
	width:520px; 
}
#right { 
	width:255px; 
	margin-left:5px; 
	border-left: 1px solid;
}
#iem-content h3 {
	margin: 0px;
}
ul.iem-list {
	margin-left: 17px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 0px;
}
#iem-section {
	padding: 0px;
	height: 40px;
}
#iem-section th {
	border-left: 1px solid;
	padding: 5px
}
#iem-section a:hover {
	border-bottom: 1px #000000 dashed;
}
#iem-content-feature {
	border: 1px #000 dashed;
	padding: 2px;
	width: 490px;
}
#iem-content-feature-img {
	float: right;
	border: 1px #000 solid;
	font-size: 0.8em;
}
#iem-content-feature-img img {
	padding: 2px;
	border: 0px;
}
.iem-news-descript {
	padding-left: 10px;
	font-size: smaller;
}
#iem-radar table {
	width: 650px;
}
#iem-footer {
	clear: left;
	width: auto;
	font-size: 10pt;
	line-height: 1.1em;
	border-top: 1px #000 solid;
	padding-left: 5px;
	padding-bottom: 2px;
}
table.footer {
	font-size: 10pt;
	width: 100%;
	line-height: 15px;
}

.title {
	font-size: 16pt;
	line-height: 20pt;
	color: #FFFFFF;
}
.subtitle {
	font-size: 12pt;
	color: #FFFFFF;
}
.heading { 
	font-size:120%;
	font-weight:bolder;
	border-top: 1px solid;
	border-right: 6px solid;
	padding: 1px;
	padding-left: 3px;
}
.climo-header-left { 
	font-size:120%;
	font-weight:bolder;
	padding: 1px;
	padding-left: 3px;
}
.climo-header-right { 
	font-size:120%;
	font-weight:bolder;
	border-right: 6px solid;
	padding: 1px;
	padding-left: 3px;
}
.text {
	font-size: 0.9em;
}
.even {   
	padding:2px;
}
.odd {   
	padding:2px;
}
thead th,tfoot td{
        background:#ddd;
}
tr.ruled{
        background:#9cf;
}
table.ruler{
        border:1px solid #000;
        border-collapse:collapse;
}
th.ruler,td.ruler{
        border:1px solid #000;
        border-collapse:collapse;
        padding: 2px;
}
.ninfo {
 	margin-left: 10px;
  	padding: 3px;
  	border: 1px solid #000;
  	background-color: #EEEEEE;
}
.kelo{
 background: #999999;
}
.tabcommands{
        font-size: 12pt; 
        text-decoration: none;
}
.snet-precip-table {
	padding: 3px;
}

#iem-warning-bar a {
  	background-color: #cc0000;
  	border-bottom: 1px solid #000000;
	width: 100%;
	display: block;
	text-decoration: none;
  	color: #CCCCCC;
	text-align: center;
}
#iem-warning-bar a:hover {
	color: #EEEEEE;
}

#iem-warning-bar-old {
	width: 400;
	text-align: center;
	background-color: #CC0000;
	border: 1px #000 solid;
}
#iem-warning-bar-old a {
	color: #CCCCCC;
}
.iem-form {
	border: 1px dashed;
	background-color: #eee;
	margin: 15px;
	padding: 3px;
}
#iem-form2 {
	border: 1px dashed;
	background-color: #eee;
	margin: 15px;
	padding: 3px;
}
img.pics{
  text-align: center;
  width: 328px;
}
#helpwindow {
	width: 400px;
	display: none;
	padding: 5px;
	border: 1px dashed;
	background-color: #eee;
}
