a {
	color: #666666;
}
a:hover {
	color: #990000;
}
#iem-header {
	background-color: #990000;
}
#iem-header a {
	color: #CCCCCC;
}
#iem-header a:hover {
	color: #990000;
}
#iem-header-title h3 {
	color: #330000;
}
#iem-header-title h4 {
	color: #330000;
}
#iem-header-items {
	color: #330000;
}
#iem-header-items a:hover {
	color: #330000;
}
div.iem-menu{
	background-color: #330000;
}
#iem-content a:hover {
	color: #330000;
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-footer a:hover {
	color: #330000;
}
#iem-main {
	background-color: #FEFEFE;
}
.even {
	background-color: #CC9999;
}
.odd {
	background-color: #FEFEFE;
}
.heading {
	border-color: #990000;
	background-color: #CCCCCC;
	color: #330000;
}
tr.ruled {
	background: #FFCCCC;
}
.climo-header-left {
	background-color: #CCCCCC;
	color: #990000;
}
.climo-header-right {
	border-color: #990000;
	background-color: #CCCCCC;
	color: #990000;
}
.subtitle {
	color: #990000;
}
.snet-precip-table {
	background-color: #CC9999;
	border-color: #CC9999;
}
.kcci{
 	background: #CC9999;
}
.kelo{
 	background: #CC6666;
}
.tabcommands {
	color: #330000;
}
.iem-form {
	border-color: #990000;
}
#iem-form2 {
	border-color: #990000;
}
#iem-form2 th {
	background-color: #CC9999;
}
thead th,tfoot td{
        background:#CC9999;
}
#helpwindow {
	border-color: #990000;
}
