a {
	color: #666666;
}
a:hover {
	color: #006666;
}
#iem-header {
	background-color: #006666;
}
#iem-header a {
	color: #CCCCCC;
}
#iem-header a:hover {
	color: #006666;
}
#iem-header-title h3 {
	color: #003333;
}
#iem-header-title h4 {
	color: #003333;
}
#iem-header-items {
	color: #003333;
}
#iem-header-items a:hover {
	color: #003333;
}
div.iem-menu{
	background-color: #003333;
}
#iem-content {
	background-color: #FEFEFE;
}
#iem-content a:hover {
	color: #003333;
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-footer a:hover {
	color: #003333;
}
#iem-main {
	background-color: #FEFEFE;
}
.even {
	background-color: #99CCCC;
}
.odd {
	background-color: #FEFEFE;
}
.heading {
	border-color: #006666;
	background-color: #CCCCCC;
	color: #003333;
}
tr.ruled {
	background: #CCFFFF;
}
.climo-header-left {
	background-color: #CCCCCC;
	color: #006666;
}
.climo-header-right {
	border-color: #006666;
	background-color: #CCCCCC;
	color: #006666;
}
.subtitle {
	color: #006666;
}
.snet-precip-table {
	background-color: #99CCCC;
	border-color: #99CCCC;
}
.kcci{
 background: #99CCCC;
}
.kelo{
 background: #669999;
}
.tabcommands {
	color: #003333;
}
.iem-form {
	border-color: #006666;
}
#iem-form2 {
	border-color: #006666;
}
#iem-form2 th {
	background-color: #99CCCC;
}

thead th,tfoot td{
        background:#99CCCC;
}
#helpwindow {
	border-color: #006666;
}
