# Unsure if these are needed anymore, so lets comment out and see what breaks
#Redirect /climodat/index.html https://mesonet.agron.iastate.edu/climodat/index.phtml
#Redirect /climodat/default.html https://mesonet.agron.iastate.edu/climodat/index.phtml
#Redirect /climodat/table.html https://mesonet.agron.iastate.edu/climodat/index.phtml

