.phto  { background: #FFC1C1 !important; }
.phsv  { background: #FFFF7E !important;}
.phma  { background: #A2CD5A !important;}
.phfa { background: #C8F526 !important;}
.phff { background: #FFEC8B !important;}
.phds { background: #FFE4C4 !important;}
.phsq { background: #C71585 !important;}