{
    "rules": {
    },
    "env": {
        "browser": true,
        "es2020": true
    },
    "globals": {
        "$": false,
        "jQuery": false,
        "ol": false,
        "iemdata": false,
        "moment": false,
        "google": false
    }
}