/.settings
/.buildpath
/.project
/.pydevproject
**/fe.py
/.vscode
**/gemglb.nts
**/last.nts
/config/settings.inc.php
node_modules
**/.coverage
# Stuff built by iemvtec
htdocs/vtec/assets*
htdocs/vtec/_index_content.html