ci:
  autoupdate_schedule: quarterly
repos:
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v9.9.1'
    hooks:
      - id: eslint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

