# NB: these are requirements of code in this repo
# autoplot uses
affine
# pytest
beautifulsoup4
# plotting
cartopy
# pytest
coverage
# upload scripts
dropbox
# one wxc script
ephem
# various places
fiona
# various places
gdal
# used
geojson
# important
geopandas
# mrms script
imageio
# soft requirement for pandas
lxml
# duh
matplotlib-base
# various places
metar
# duh
metpy
# yup
netcdf4
# yup
numpy
# racoon
odfpy
# excel output
openpyxl
# yo
pandas
# mod-wsgi
paste
# PIL
pillow
# for downstream installs
pip
# for psql and friends
postgresql
# important
psycopg2
# lots of places
pygrib
# various places
pyproj
# various shapefile dumpers
pyshp>=2
# for testing
pytest
# important
python-memcached
# important
pytz
# various places
rasterio
# various places
rasterstats
# yo
requests
# important
scipy
# autoplots
seaborn
# needed for downstream pip install?
setuptools-markdown
# cow et al
shapely
# various dumpers
simplejson
# scripts
tqdm
# AHPS scripts
twisted
# need to use more
verde
# Excel
xlsxwriter
# Excel
xlwt
