setuptools-markdown
--extra-index-url https://pypi.anaconda.org/pypi/simple
rrdtool
PyRSS2Gen
odfpy
egenix-mx-base
git+https://github.com/akrherz/python-metar.git@snowdepth
jenks
mod_wsgi
git+https://github.com/akrherz/smartsheet-python-sdk.git@issue38
git+https://github.com/akrherz/windrose.git@darylchanges
git+https://github.com/akrherz/nwnserver.git
git+https://github.com/akrherz/pyLDM.git
git+https://github.com/akrherz/pyIEM.git
Unidecode
