--extra-index-url https://pypi.anaconda.org/pypi/simple
rrdtool
PyRSS2Gen
odfpy
egenix-mx-base
metar
jenks
-e git+https://github.com/akrherz/twitty-twister.git@issue15#egg=twittytwister
-e git+https://github.com/akrherz/smartsheet-python-sdk.git@issue38#egg=smartsheet-python-sdk
-e git+https://github.com/akrherz/windrose.git@darylchanges#egg=windrose
-e git+https://github.com/akrherz/nwnserver.git#egg=nwnserver
-e git+https://github.com/akrherz/pyLDM.git#egg=pyLDM
-e git+https://github.com/akrherz/pyIEM.git#egg=pyIEM
