[tool.pytest.ini_options]
filterwarnings = [
    "error::pandas.errors.ChainedAssignmentError",
    "error::pandas.errors.Pandas4Warning",
    "ignore:numpy.ndarray size changed:RuntimeWarning",
]

[tool.ruff]
line-length = 79
target-version = "py310"

[tool.ruff.lint]
select = [
    "A",  # builtins
    # "ANN",  # annotations
    "ARG",  # unused args
    "ASYNC",  # async
    "B",  # bugbear
    # "BLE",  # blind except
    "C4",  # comprehensions
    # "C90",  # mccabe
    # "COM",  # commas
    # "DTZ",  # datetime
    "E",  # pycodestyle
    # "EM",  # flake8-errmsg
    "ERA",  # eradicate
    "EXE",  # shebang
    "F",  # pyflakes
    "FLY",  # fly
    "G",  # logging-format
    # "FBT",  # flake8-boolean-trap
    # "FIX",  # has fixme
    "FURB",  # refurb
    "G",  # logging-format
    "I",  # isort
    "ICN",  # implicit-conv
    "INT",  # flake8-gettext
    "ISC",  # implicit-str-concat
    "LOG",  # logging
    # "N",  # naming
    "NPY",  # numpy
    # "PD",  # pandas-vet
    "PIE",  # flake8-pie
    "PERF",  # performance
    "PLE",  # pylint error
    # "PLR",  # pylint refactoring
    "PLW",  # pylint warning
    "PT", # pytest style
    # "PTH",  # pathlib
    "PYI",  # pyi
    "Q",  # flake8-quotes
    # "RET",  # flake8-return
    "RSE",  # raise
    "RUF",  # ruff specific
    # "S",  # bandit
    # "S608",  # SQL injection
    # "SIM",  # simplify
    "T20",  # print
    "TC",  # type checking
    "TID",  # tidy imports
    # "TRY",  # try-except-raise
    "UP",  # pyupgrade
    "W",  # pycodestyle
    "YTT",  # flake8-2020
]
ignore = [
    "C408",  # dict comprehension
    "PERF203",  # try,except within a loop
    "PLR2004",  # magic numbers
    "UP031",  # format specifiers
]

# complains about iemweb.json
[tool.ruff.lint.flake8-builtins]
builtins-strict-checking = false

[tool.ruff.lint.per-file-ignores]
"{scripts,tests}/**/*.py" = [
    "T20",  # print
]
"tests/**/*.py" = [
    "S101",  # assert
]
