html { 
    background: url(img/background.png); 
}

body {
    background-color: #ffffff00 !important;
    width: 1920px;
    height: 1000px;
}

html,body {
    height: 100%;
}

h3.title {
    color: #ff0;
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    top: -15px;
    left: 150px;
}
#wx {
    position: absolute;
    bottom: 10px;
    right: 50px;
    font-weight: bolder;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #000;
}

#olmap {
    width: 100%;
    min-height: 400px;
    height: 700px;
}
#overviewmap {
    width: 100%;
    min-height: 400px;
    height: 400px;
    margin-left: 50px;
}
.ol-overviewmap .ol-overviewmap-map{
    width: 300px !important;
    height: 300px !important;
}
#overviewmap > div {
    left: 30px !important;
}
.ui-window-bar .ui-button {
    position: absolute;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-window-bar .ui-window-minimize {
    right: calc(.3em + 40px);
}

.ui-window-bar .ui-window-maximize {
    right: calc(.3em + 20px);
}

.ui-dialog-content {
    overflow: hidden !important;
}

.viz {
    width: 100%;
    height: 100%;
}

.qrbutton {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 200;
}