html { 
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #ffffff00 !important;
}

html,body {
    height: 100%;
}

h3.title {
    color: #fff;
    font-weight: bolder;
    font-size: x-large;
}

#olmap {
    width: 100%;
    min-height: 400px;
    height: 450px;
}

.ui-window-bar .ui-button {
    position: absolute;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-window-bar .ui-window-minimize {
    right: calc(.3em + 40px);
}

.ui-window-bar .ui-window-maximize {
    right: calc(.3em + 20px);
}

.ui-dialog-content {
    overflow: hidden !important;
}

.viz {
    width: 100%;
    height: 100%;
}