P {
    font-family: sans-serif;
    font-size: 14pt;
    width: 600px;
}

blockquote.instructions {
    font-family: sans-serif;
    font-size: 12pt;
    width: 400px;
}

body {
    border-left: 20px;
}