RewriteEngine On
# Lots of old links out there to bad URIs
RewriteRule ^index\.(html|pl|php)$ /agclimate/ [R]

Redirect /agclimate/daily-pics https://mesonet.agron.iastate.edu/agclimate/daily_pics
Redirect /agclimate/daily_pics https://mesonet.agron.iastate.edu/data/agclimate
Redirect /agclimate/info.txt https://mesonet.agron.iastate.edu/agclimate/info.phtml

AddHandler cgi-script .py
Options +ExecCGI

# 
RewriteRule ^smplot/([0-9]{1,12})/(.*).png$ isusm.py?t=$1&v=$2
RewriteRule isusm.csv nmp_csv.py