# http://enable-cors.org/server_apache.html
Header set Access-Control-Allow-Origin "*"

AddHandler cgi-script .py
Options +ExecCGI

RewriteEngine On 
RewriteRule ^sql/database/([a-z]+)$ sql.py?database=$1 [QSA]
