.tab-pane {
    width: 100%;
}

#map {
    width: 100%;
    min-height: 400px;
    height: 75vh;
    box-sizing: border-box;
}

td.details-control {
    text-align: center;
    color: forestgreen;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: red;
}

.popover {
    min-width: 400px;
}
