  AddHandler python-program .py
  PythonPath "sys.path + ['/var/www/include/python/']"
  PythonHandler TileCache.Service
  PythonOption TileCacheConfig /var/www/htdocs/cache/tilecache.cfg

  AddHandler cgi-script .cgi
  Options +ExecCGI
