  AddHandler python-program .py
  PythonPath "sys.path + ['/mesonet/www/apps/iemwebsite/include/python/']"
  PythonHandler TileCache.Service
  PythonOption TileCacheConfig /mesonet/www/apps/iemwebsite/htdocs/cache/tilecache.cfg

  AddHandler cgi-script .cgi
  Options +ExecCGI
