[Unit]
Description=IEM TileCache mod_wsgi-express sidecar (/c and /cache)
After=network.target
Before=httpd.service

[Service]
Type=simple
User=apache
Environment=PATH=/opt/miniconda3/envs/prod/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStartPre=/usr/bin/test -x /opt/miniconda3/envs/prod/bin/mod_wsgi-express
ExecStartPre=/usr/bin/test -x /opt/iem/deployment/start_tc_wsgi.sh
ExecStart=/opt/iem/deployment/start_tc_wsgi.sh
ExecStartPre=/bin/mkdir -p /var/tmp/mod_wsgi
ExecStartPre=/bin/chown -R apache:apache /var/tmp/mod_wsgi
Restart=on-failure
RestartSec=5
SyslogIdentifier=iem-tc
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
