AddHandler cgi-script .py
Options +ExecCGI

RewriteEngine On
RewriteRule ^radar radar.py
RewriteRule ^tms.json tms.py [QSA]
RewriteRule ^qpe/([0-9\.\-]+)/([0-9\.\-]+)/(json) qpe.py?lat=$2&lon=$1&format=$3
RewriteRule ^raob/([0-9]{12})/([A-Z0-9]{3,4})$ raob.py?ts=$1&station=$2 [QSA]
RewriteRule ^prism/([0-9\.\-]+)/([0-9\.\-]+)/([0-9\.\-]+)$ prism.py?lon=$1&lat=$2&valid=$3 [QSA]