AddHandler cgi-script .py
Options +ExecCGI

RewriteEngine On
RewriteRule ^sbw.geojson(.*) sbw.py$1 [QSA]
RewriteRule ^sps.geojson(.*) sps.py$1 [QSA]
RewriteRule ^winter_roads.geojson(.*) winter_roads.py$1 [QSA]
RewriteRule ^networks.geojson(.*) networks.py$1 [QSA]
RewriteRule ^nexrad_attr.geojson(.*) nexrad_attr.py$1 [QSA]
