  AddHandler python-program .py
  PythonPath "sys.path + ['/mesonet/www/apps/iemwebsite/include/python/']"
  PythonInterpPerDirectory On
  PythonHandler TileCache.Service
  PythonOption TileCacheConfig /mesonet/www/apps/iemwebsite/htdocs/c/tilecache.cfg
