# Memcached:
[cache]
type=Memcached
servers=192.168.0.2:11211
#servers=127.0.0.1:11211

[c-900913]
type=WMS
spherical_mercator=true
tms_type=google
url=http://localhost/cgi-bin/mapserv/mapserv?map=/mesonet/www/apps/iemwebsite/data/wms/political.map&transparent=true
layers=c-900913

[s-900913]
type=WMS
spherical_mercator=true
tms_type=google
url=http://localhost/cgi-bin/mapserv/mapserv?map=/mesonet/www/apps/iemwebsite/data/wms/political.map&transparent=true
layers=s-900913

[wfo-900913]
type=WMS
spherical_mercator=true
tms_type=google
url=http://localhost/cgi-bin/mapserv/mapserv?map=/mesonet/www/apps/iemwebsite/data/wms/political.map&transparent=true
layers=wfo-900913

[rfc-900913]
type=WMS
spherical_mercator=true
tms_type=google
url=http://localhost/cgi-bin/mapserv/mapserv?map=/mesonet/www/apps/iemwebsite/data/wms/political.map&transparent=true
layers=rfc-900913

[cwsu-900913]
type=WMS
spherical_mercator=true
tms_type=google
url=http://localhost/cgi-bin/mapserv/mapserv?map=/mesonet/www/apps/iemwebsite/data/wms/political.map&transparent=true
layers=cwsu-900913