body {
	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;
  margin: 3px;
  background-color:#ffffff;
}
A:link, A:visited, A:active, A:hover {
  color: blue;
}
td.heading{
  background: #336699;
  color: #fffacd;
  font-size: 120%;
  font-weight: bolder;
}
a.links{
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
}
.title{
  font-size: 16pt;
  line-height: 20pt;
  color: #FFFFFF;
}
.subtitle{
  font-size: 12pt;
  color: #FFFFFF;
}
.heading
{ background-color:#336699; font-size:120%; font-weight:bolder; color:#fffacd; }
.bluelink
{ background-color:#add8e6; font-size: 12pt; padding:2; }
a.bluelink
{ border:0px; font-weight:bold; text-decoration:none; }
.whitelink
{ background-color:#FFFFFF; font-size: 12pt; padding:2; }
a.whitelink
{ border:0px; font-weight:bold; text-decoration:none; }

#navBar
{ background-color:#666; padding-left:8px }
#navBar TD
{ padding:4px 8px 0px 4px }
#navLinks
{ color:#f7f7f7; font:bold 12px verdana,arial,helvetica,sans-serif }
#navLinks A:link, #navLinks A:visited
{ color:#f7f7f7; text-decoration:none }
#navLinks A:hover
{ color:#ccc; text-decoration:none }
#footer
{ background-color:#f1f1f1; border-top:1px solid #666; padding:3px 2px }
#footerLeft
{ width:165px; white-space:nowrap }

#footer A:link, #footer A:visited
{ color:#000; text-decoration:none }
#footer A:hover
{ color:#444; text-decoration:underline }

#footer HR
{ display:none }
#footer TD
{ font-size:12px; line-height:1.5em; text-align:left }

#main
{ background-color:#FFFFFF; width:800px; }
#left
{ width:490px; float:left; }
#right
{ width:300px; margin-left:5; float:right; }
#foot
{ width:800px; text-align:center; float:left; }
