a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #00000c;
}
#iem-header {
	background-color: #999999;
}
div.iem-menu{
	background-color: #333333;
}
#iem-content {
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-main {
	background-color: #FEFEFE;
}
tr.even {
	background-color: #CCCCCC;
}
tr.odd {
	background-color: #FEFEFE;
}
h3.heading {
	border-color: #666666;
	background-color: #CCCCCC;
	color: #333333;
}
