body{
	font-family: helvetica, verdana, sans-serif;
	font-size:100%;
	margin: 3px;
	background-color: #666666;
}
#iem-main {
	width: 800px;
	border: 1px #000 solid;
}
#iem-header {
	border-bottom: 1px #000 solid;
}
#iem-header-title h3 {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#iem-header-title h4 {
	margin-top: 2px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#iem-header-logo img {
	float: left;
	border: 0px;
	margin: 5px;
}
#iem-header-items {
	position: absolute;
	top: 15px;
	left: 650px;
	width: 150px;
	text-align: right;
	font-size: 0.8em;
}
div.iem-menu{
	margin-top: 3px;
	padding: 1px;
	font-weight: bold;
	font-size: 10pt;
}

#iem-content {
	clear: left;
	padding: 5px;
}
#left { 
	width:520px; 
}
#right { 
	width:255px; 
	margin-left:5px; 
	border-left: 1px solid;
}
#iem-content h3 {
	margin: 0px;
}
ul.iem-list {
	margin-left: 17px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 0px;
}
#iem-section {
	padding: 0px;
	height: 40px;
}
#iem-section th {
	border-left: 1px solid;
	padding: 5px
}
#iem-section a:hover {
	border-bottom: 1px #000000 dashed;
}
#iem-content-feature {
	border: 1px #000 dashed;
	padding: 2px;
	width: 490px;
}
#iem-content-feature-img {
	float: right;
	border: 1px #000 solid;
	font-size: 0.8em;
}
#iem-content-feature-img img {
	padding: 2px;
	border: 0px;
}
.iem-news-descript {
	padding-left: 10px;
	font-size: smaller;
}
#iem-radar table {
	width: 700px;
	border-left: 1px solid;
}
#iem-footer {
	clear: left;
	width: 795px;
	font-size: 10pt;
	line-height: 1.1em;
	border-top: 1px #000 solid;
	padding-left: 5px;
	padding-bottom: 2px;
}
table.footer {
	font-size: 10pt;
	width: 100%;
	line-height: 15px;
}

.title {
	font-size: 16pt;
	line-height: 20pt;
	color: #FFFFFF;
}
.subtitle {
	font-size: 12pt;
	color: #FFFFFF;
}
h3.heading { 
	font-size:120%;
	font-weight:bolder;
	border-top: 1px solid;
	border-right: 6px solid;
	padding: 1px;
}
tr.even {  
	font-size: 12pt; 
	padding:2px;
}
tr.odd {  
	font-size: 12pt; 
	padding:2px;
}
