a {
	text-decoration: none;
	color: #666666;
}
a:hover {
	color: #006666;
}
#iem-header {
	background-color: #006666;
}
#iem-header-title h3 {
	color: #003333;
}
#iem-header-title h4 {
	color: #003333;
}
#iem-header-items {
	color: #003333;
}
#iem-header-items a {
	color: #333333;
}
#iem-header-items a:hover {
	color: #003333;
}
div.iem-menu{
	background-color: #003333;
}
#iem-content {
	background-color: #FEFEFE;
}
#iem-content a:hover {
	color: #003333;
}
#iem-content li {
	color: #003333;
}
#iem-footer {
	background-color: #FEFEFE;
}
#iem-footer a:hover {
	color: #003333;
}
#iem-main {
	background-color: #FEFEFE;
}
tr.even {
	background-color: #99CCCC;
}
tr.odd {
	background-color: #FEFEFE;
}
h3.heading {
	border-color: #006666;
	background-color: #CCCCCC;
	color: #003333;
}
h3.subtitle {
	color: #006666;
}
