name: Install and Test
on: [push]
jobs:
  build-linux:
    name: Python (${{ matrix.PYTHON_VERSION }}) with IEM Data (${{ matrix.WITH_IEM_DATA }})
    runs-on: self-hosted
    strategy:
      matrix:
        PYTHON_VERSION: ["3.11"]
        WITH_IEM_DATA: ["YES", "NO"]
    env:
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
      WITH_IEM_DATA: ${{ matrix.WITH_IEM_DATA }}
    steps:
    - uses: actions/checkout@v3

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    - name: Setup CI from ci-tooling
      run: |
        rm -rf database
        rm -rf .ci_tooling
        rm -rf .ipc
        rm -rf /opt/iem
        rm -rf /opt/miniconda3
        rm -rf /mesonet/www/logs
        rm -rf /opt/iemwebfarm
        git clone --depth 1 https://github.com/akrherz/iem-database.git database
        git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
        git clone --depth 1 https://github.com/akrherz/iem-production-checks.git .ipc
        . .ci_tooling/iemwebfarm.sh
        . .ci_tooling/postgres.sh
        sudo mkdir -p /mesonet/www/logs
        sudo ln -s `pwd` /opt/iem
        sudo ln -s $HOME/miniconda /opt/miniconda3
        echo `pwd`
        chmod 755 $HOME
        sudo apt-get install librrd-dev apache2
        # need apache2-dev for mod-wsgi to build
        sudo apt-get install apache2 apache2-dev memcached
        sudo service memcached start
        sudo a2enmod headers rewrite proxy proxy_http proxy_balancer ssl lbmethod_byrequests cgi expires authz_groupfile
        # we do things the old fashioned way, we earn it
        sudo a2dissite 000-default.conf
        sudo cp .github/ci_support/mod_wsgi.conf /etc/apache2/sites-enabled/
        echo '<VirtualHost *:80>' | sudo tee /etc/apache2/sites-enabled/iem.conf > /dev/null
        cat config/mesonet.inc | sudo tee -a /etc/apache2/sites-enabled/iem.conf > /dev/null
        echo '</VirtualHost>' | sudo tee -a /etc/apache2/sites-enabled/iem.conf > /dev/null
        # This may be a requirement for mod-wsgi to properly find python tooling?
        echo "export PATH=/home/runner/miniconda/envs/prod/bin:$PATH" | sudo tee -a /etc/apache2/envvars > /dev/null
        # Newer PROJ needs this
        echo "export PROJ_LIB=/home/runner/miniconda/envs/prod/share/proj" | sudo tee -a /etc/apache2/envvars > /dev/null
        . .ci_tooling/miniconda.sh
        export PATH="/usr/lib/postgresql/14/bin:$PATH"
        cd database; sh bootstrap.sh
        python schema_manager.py
        cd ..
        MOD_WSGI_SO=$(find $HOME/miniconda/envs/prod -type f -name 'mod_wsgi*.so')
        echo $MOD_WSGI_SO
        echo "LoadModule wsgi_module $MOD_WSGI_SO" | sudo tee -a /etc/apache2/mods-enabled/wsgi.load > /dev/null;
        echo "WSGIApplicationGroup %{GLOBAL}" | sudo tee -a /etc/apache2/mods-enabled/wsgi.load > /dev/null;
        # Create tmp folder for matplotlib
        sudo mkdir -p /var/cache/matplotlib
        sudo chown www-data /var/cache/matplotlib
        # restart apache
        sudo service apache2 stop
        sudo service apache2 start
        which python
        python /opt/iem/deployment/mod_wsgi_startup.py
        sudo systemctl status apache2.service -l
        if [[ ${{ matrix.WITH_IEM_DATA }} == "YES" ]]; then
          # Add some test data to the database
          python database/store_test_data.py
          python scripts/dbutil/sync_stations.py
        fi
        SERVICE=http://iem.local pytest -n 4 .ipc/tests/test_autoplot.py

    - name: View Apache Logs
      if: failure()
      run: |
        sudo systemctl status apache2 -l
        sudo cat /var/log/apache2/error.log
