name: Test Mapserver Files
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-linux:
    name: Test Mapserver Files
    defaults:
      run:
        # Ensures environment gets sourced right
        shell: bash -l -e {0}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    # setup conda-forge with micromamba
    - name: Setup Python
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: .github/ms_environment.yml
        condarc: |
          channels:
            - conda-forge
            - defaults
        create-args: >-
          python=3.13
        environment-name: prod
        cache-environment: true

    - name: Run IEM Database container
      run: |
        docker run -d --name iem_database -p 5432:5432 ghcr.io/akrherz/iem_database:test_data
        until docker exec iem_database pg_isready -h localhost; do
          sleep 6
        done

    - name: Setup CI from ci-tooling
      run: |
        set -e
        sudo ln -s `pwd` /opt/iem
        sudo mkdir -p /mesonet/ldmdata/
        wget -q http://mesonet.agron.iastate.edu/pickup/ci_msinc.tgz
        sudo tar -C / -xzf ci_msinc.tgz

    - name: Run map2img
      run: |
        set -e
        bash tests/run_mapserver.sh
